:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: aliceblue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-black);
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header {
  padding: 10px 0;
  background-color: var(--color-blue);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo-image {
  width: 50px;
  height: auto;
}

.page-header__phone:hover,
.page-header__phone:focus {
  text-decoration: underline;
  opacity: 0.8;
}

.page-main__container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: min-content 1fr;
}

.page-menu {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.page-search {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.page-content {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.page-menu {
  height: calc(100vh - 146px);
  padding: 100px 10px 0;
  border-right: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
}

.page-menu__list {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.page-menu__item {
  position: relative;
  margin-bottom: 15px;
}

.page-menu__item:last-child {
  margin-bottom: 0;
}

.page-menu__item::before {
  content: "-";
  position: absolute;
  left: -10px;
}

.page-menu__item:hover,
.page-menu__item:focus {
  text-decoration: underline;
  opacity: 0.8;
}

.page-menu__link {
  font-size: 16px;
  font-weight: bold;
}

.page-search {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

input[id="search"] {
  padding: 5px 10px;
  border: 1px solid var(--color-black);
  border-radius: 10px;
}

input[id="search"]:hover,
input[id="search"]:focus {
  outline: 1px solid var(--color-black);
  outline-offset: 1px;
}

.page-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
  border-right: 2px solid var(--color-black);
}

.page-content form {
  width: 100%;
}

.page-content table {
  display: grid;
  grid-template-columns:
    minmax(150px, 20%)
    minmax(150px, 20%)
    minmax(150px, 20%)
    minmax(150px, 40%)
    min-content;
  min-width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-left: 1px solid gray;
  border-right: none;
}

.page-content thead,
.page-content tbody,
.page-content tr {
  display: contents;
}

.page-content th,
.page-content td {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.page-content th:last-child,
.page-content td:last-child {
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin: auto;
}

.page-content th {
  position: sticky;
  top: 0;
  text-align: left;
  border-top: 1px solid gray;
}

input[id="name"],
input[id="age"],
select[id="position"],
textarea[id="competence"] {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--color-black);
}

select[id="position"] {
  padding: 4px 0;
}

textarea[id="competence"] {
  height: 65px;
  resize: none;
}

input[id="name"]:hover,
input[id="name"]:focus,
input[id="age"]:hover,
input[id="age"]:focus,
select[id="position"]:hover,
select[id="position"]:focus,
textarea[id="competence"]:hover,
textarea[id="competence"]:focus {
  outline: 1px solid var(--color-black);
  outline-offset: 1px;
}

.page-form__button-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.page-form__button,
.page-content__row-button {
  padding: 5px 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 5px;
  cursor: pointer;
}

.page-form__button:hover,
.page-form__button:focus,
.page-content__row-button:hover,
.page-content__row-button:focus {
  opacity: 0.7;
}

.page-content__row-button {
  padding: 0 10px;
}

.page-menu h2 {
  position: relative;
  margin: 0 0 30px;
}

.page-menu h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
}

.page-footer {
  padding: 10px 0;
  background-color: var(--color-black);
}

.page-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__logo-image {
  width: 50px;
  height: auto;
}

.page-footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.page-footer__socials-icon {
  fill: var(--color-white);
}

.page-footer__socials-icon:hover,
.page-footer__socials-icon:focus {
  opacity: 0.8;
}

.page-footer__phone {
  color: var(--color-white);
}

.page-footer__phone:hover,
.page-footer__phone:focus {
  text-decoration: underline;
  opacity: 0.8;
}
